/build
/.cache
/.vscode
/CMakeFiles
/tests/CMakeFiles
/tests/CMakeCache.txt

/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake

/to-do

/external/
runner.db

/scripts/bench.log
/scripts/benchmark.sh
/scripts/benchmarkplot.py
/scripts/time.log

